<div [className]="'appCard'">
    <mat-card class="mat-elevation-z10">
      <mat-card-title>
        <mat-card class="mat=elevation-z2">
          <h4>
            Tasks for the:
          </h4>
          <app-date-header [(selectedDate)]="selectedDate"></app-date-header>
        </mat-card>
      </mat-card-title>

      <mat-card-content>
        <app-task-list [selectedDate]="selectedDate"></app-task-list>
      </mat-card-content>
    </mat-card>
    <span class="buttonSpan">
      <button (click)="addTaskOpen()" mat-fab>
          <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
      </button>
    </span>
  </div>